@import "tailwindcss";
@import "tw-animate-css";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

@theme {
  --color-primaryColor: oklch(0.3559 0.1068 272.29);
  --color-secondaryColor: oklch(0.6166 0.2506 355.59);
  --color-accentColor: oklch(0.465 0.2004 269.18);
  --font-lato: "Lato", "Lato Fallback", sans-serif;
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.141 0.005 285.823);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.141 0.005 285.823);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.141 0.005 285.823);
  --primary: oklch(0.21 0.006 285.885);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.967 0.001 286.375);
  --secondary-foreground: oklch(0.21 0.006 285.885);
  --muted: oklch(0.967 0.001 286.375);
  --muted-foreground: oklch(0.552 0.016 285.938);
  --accent: oklch(0.967 0.001 286.375);
  --accent-foreground: oklch(0.21 0.006 285.885);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.92 0.004 286.32);
  --input: oklch(0.92 0.004 286.32);
  --ring: oklch(0.705 0.015 286.067);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.141 0.005 285.823);
  --sidebar-primary: oklch(0.21 0.006 285.885);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.967 0.001 286.375);
  --sidebar-accent-foreground: oklch(0.21 0.006 285.885);
  --sidebar-border: oklch(0.92 0.004 286.32);
  --sidebar-ring: oklch(0.705 0.015 286.067);
}

.dark {
  --background: oklch(0.141 0.005 285.823);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.21 0.006 285.885);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.21 0.006 285.885);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.92 0.004 286.32);
  --primary-foreground: oklch(0.21 0.006 285.885);
  --secondary: oklch(0.274 0.006 286.033);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.274 0.006 286.033);
  --muted-foreground: oklch(0.705 0.015 286.067);
  --accent: oklch(0.274 0.006 286.033);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.552 0.016 285.938);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.21 0.006 285.885);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.274 0.006 286.033);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.552 0.016 285.938);
}

@layer base {
  * {
    @apply outline-ring/50;
  }
  body {
    @apply bg-background text-foreground font-lato;
    font-variant-ligatures: none;
  }
}

.gradientCTS {
  @apply bg-gradient-to-br from-[#d3d3e3] via-[#ebdfeb] to-[#faf8fb];
}

.SliderHero {
  .swiper-button-prev,
  .swiper-button-next {
    @apply text-white;

    &::after {
      @apply text-base md:text-2xl;
    }
  }
}

.SucursalCarousel {
  .swiper-button-prev,
  .swiper-button-next {
    @apply size-8 rounded-full bg-white text-black shadow-xl lg:size-20;
    &::after {
      @apply text-lg lg:text-3xl;
    }
  }
}

.TestimonialCarousel {
  .swiper-button-prev,
  .swiper-button-next {
    @apply top-10 text-lg font-black text-zinc-800;
    &::after {
      @apply text-3xl;
    }
  }

  .swiper-button-prev {
    @apply left-1/2 -translate-x-28;
  }

  .swiper-button-next {
    @apply right-1/2 translate-x-28;
  }
}

.whyChooseUsCarousel {
  .swiper-button-prev,
  .swiper-button-next {
    @apply size-10 rounded-full bg-white text-black shadow-xl lg:size-20;
    &::after {
      @apply text-lg lg:text-3xl;
    }
  }
}

.carousel-vertical {
  .swiper-button-prev,
  .swiper-button-next {
    @apply size-8 rounded-full text-zinc-700;
    &::after {
      @apply text-lg font-black lg:text-3xl;
    }
  }

  .swiper-button-prev {
    @apply top-20 left-1/2 -translate-x-32 sm:left-1/3 sm:-translate-x-28;
  }

  .swiper-button-next {
    @apply top-20 right-1/2 translate-x-32 sm:right-1/3 sm:translate-x-28;
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.multi-input__control {
  @apply !h-auto !min-h-12 w-full !cursor-text !border !border-[#F7F7F7] !bg-[#F7F7F7] text-sm !shadow-none placeholder:text-sm focus-visible:ring-0 focus-visible:ring-offset-0 focus-visible:outline-none;
}

.hashtags {
  p {
    a {
      margin-top: 10px;
      display: inline-block;
      width: 100%;
      white-space: normal;
      overflow-wrap: break-word;
      word-break: break-all;
    }
  }
  .wp-block-post-author {
    @apply mb-8 flex items-center gap-2;

    & .wp-block-post-author__avatar {
      img {
        @apply size-16 rounded-full border border-zinc-500 object-cover object-center;
      }
    }

    & .wp-block-post-author__content {
      & .wp-block-post-author__name {
        @apply flex flex-col justify-center gap-1 text-base font-bold;

        &::before {
          content: "Escrito por:";
          @apply text-sm font-normal;
        }
      }
    }
  }

  figure.wp-block-gallery {
    @apply mt-5 grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-4;

    figure img {
      @apply h-[350px] w-full object-cover object-center;
    }
  }

  video {
    @apply mt-5 h-[500px];
  }
}
